{{define "editar"}}
{{template "cabecera"}}
 <div class="card">
        <div class="card-header">
            Usuarios
        </div>
        <div class="card-body">
           <form  action="/actualizar" method="POST">//formulario para modificar los datos del usuario especificado
           <div class="form-group">
                <label class="sr-only" for="inputName">ID</label>
                //se muestra el id del usuario a editar, no se puede editar el id
                <input type="text" value={{.Id_u}} class="form-control" name="id_u" id="id_u" placeholder="">
            </div>
            <div class="form-group">
            //se inserta el dato a editar en el nombre, en todo caso se mantiene igual
              <label for="">Usuario</label>
              <input type="text"
                class="form-control" name="usuario" value={{.Usuario}} id="usuario" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Escribe tu usuario</small>
            </div>
            <div class="form-group">
            //se inserta el dato a editar en la contraseña, en todo caso se mantiene igual
              <label for="">Contraseña</label>
              <input type="password" class="form-control" name="pass" value={{.Pass}}   id="pass" placeholder="">
            </div>
            <div class="form-group">
            //se inserta el tipo de usuario que será:admin y empleado
                <label for="">Tipo de Usuario</label>
                <select class="custom-select" name="tipo_u" value={{.Tipo_u}}  id="tipo_u">
                    <option selected>-</option>
                    <option value="admin">admin</option>
                    <option value="empleado">empleado</option>             
                </select>
            </div>
            <button type="submit" class="btn btn-success">Modificar</button>
            <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
            </form>
    </div>
       
</div>

{{template "pie"}}
{{end}}