{{define "proveedores"}}
{{template "cabecera"}}
 <div class="card">
        <div class="card-header">
          Proveedor
        </div>
        <div class="card-body">
           <form  action="/enviar2" method="POST">
            <div class="form-group">
              <label for="">Proveedor</label>
              <input type="text"
                class="form-control" name="Proveedor" id="Proveedor" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Escribe el proveedor</small>
            </div>
            
           
            <button type="submit" class="btn btn-success">Agregar</button>
            <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
            </form>
    </div>
       
</div>

{{template "pie"}}
{{end}}